/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: #52bf91;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a button {
    background-color: #52bf91;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

nav a button:hover {
    background-color: #12a367;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

main {
    background-color: white;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    height: 65%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

main ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

main ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

main ul li:last-child {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}

main form {
    display: flex;
    align-items: center;
}

main input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

main button[type="submit"] {
    padding: 10px 20px;
    background-color: #52bf91;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

main button[type="submit"]:hover {
    background-color: #12a367;
}